<b><%= @inviter %></b> has invited you to join a MeetLinkshare virtual teammm called <b><%=@community%></b><br/><br/>
<a href="<%=Rails.env=='development' ? 'http://localhost:3000' : 'https://www.meetlinkshare.railsfactory.com' %>/join_community/<%=@token	%>">Click here to join</a>
