<b><%= @inviter %></b> has invited you to join a MeetLinkshare virtual team called <b><%=@community%></b><br/><br/>
<b>test</b>
<a href="https://www.meetlinkshare.com/join_community/<%=@token	%>">Click here to join</a>
