<% if @community_id %>
<b><%= @name %></b> invites you to join in <b>MeetLinkShare</b><br/><br/>
<a href="http://www.meetlinkshare.railsfactory.com/users/new?email=<%= @email%>&community=<%= @community_id%>">Click here to join</a>
<% else %>
<b><%= @name %></b> invites you to join in <b>MeetLinkShare</b><br/><br/>
<a href="http://www.meetlinkshare.railsfactory.com/users/new">Click here to join</a>
<% end %>