Hi <%= @user_name%>,<br/><br/>

Thanks for upgrading to MeetLinkShare Premium.<br/>
You will now have access to the following premium features:<br/><br/>  
	<ul>
		<li>Store up to 2GB of content</li><br/>
    <li>Unlimited maximum note size</li> <br/>
    <li>Create more than 3 teams of private communities</li><br/>
		</ul>

Get the latest product updates by reading <a href="http://blog.meetlinkshare.com" target="_blank">our blog </a>and following MeetLinkShare on <a href="https://twitter.com/meetlinkshare" target="_blank">Twitter</a> and <a href="https://facebook.com/meetlinkshare" target="_blank">Facebook.</a><br/><br/>

Cheers<br/><br/>

The MeetLinkShare Team<br/><br/>

--------------------------------<br/><br/>

Thanks<br/>
Rajiv

